<header class="primary-header container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <h2 class="brand">fullstack</h2>
    </div>
    <div class="col-lg-3 col-md-3">
      <ul class="primary-nav">
        <a routerLink="/" href=""><li>Home</li></a>
        <a routerLink="/login" href=""><li>Sign In</li></a>
        <a routerLink="/register" href=""><li>Sign Up</li></a>
      </ul>
    </div>
  </div>
</header>



<!-- <div class="card-wrapper">
  <div class="card">
      <input class="form-control" placeholder="username" type="text" name="" id="">
      <input class="form-control" placeholder="password" type="text" name="" id="">
    </div>
</div> -->
<div class="form-container">
    <div class="row">
      <div class="text-center col-lg-3">
        <h1 class="text-center text-slim">Sign In</h1>
        <a routerLink="/register" href=""><p class="text-center text-slim text-alternate">Need an account?</p></a>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text" formControlName="email" class="form-control form-control-lg" placeholder="Email">
            </fieldset>
            {{formErrors.email}}
            <fieldset class="form-group">
                <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password">
              </fieldset>
              {{formErrors.password}}
              <button class=" btn-lg btn-primary">Sign In</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>



