    .primary-header{
        background-color:color('white');
        z-index:10;
        padding:0 10px 0 0;
        margin-bottom:25px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    }

    .primary-nav{
        display: flex;
        list-style: none;
        
        a{
            text-decoration: none;
            color:color('grey');
        }
        li{
            margin-left:10px;
            font-weight:300;
            margin-top:10px;
        }
    }
    .brand{
        margin-left:40px;
        color:color('blue');
        font-weight:700;
    }

    .hero-section{
        height: 200px;
        margin-top:-25px;   
        background-color:color('blue');
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-text{
        width:350px;
        height:100%;
        margin:0 auto;
        color:white;
        text-align: center;
        h1{
            font-weight:700;
            text-shadow:0px 1px 3px rgba(0, 0, 0, .6);
            font-size:40px;
        }
        p{
            font-weight:300;
            font-size:24px;
        }
    }