
<app-header></app-header>

<section class="hero-section">
  <div class="hero-text">
      <h1>fullstack</h1>
      <p>MEAN stack blog application</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="article-wrapper">
        <div class="article-container">
          <a href="">
            <div class="article-image"></div>
            <!-- <img class="article-image" src="" alt=""> -->
          </a>
          <div class="article-text">
            <a class="author" href="">Article 1</a>
            <span class="date">12/1/2017</span>
          </div>
          <a class="article-info" href="">
            <h1>Test MM</h1>
            <p>Nothing at all</p>
            <span>Read more...</span>
          </a>
        </div>
      </div>
      <div class="article-wrapper">
        <div class="article-container">
          <a href="">
            <div class="article-image"></div>
            <!-- <img class="article-image" src="" alt=""> -->
          </a>
          <div class="article-text">
            <a class="author" href="">Article 1</a>
            <span class="date">12/1/2017</span>
          </div>
          <a class="article-info" href="">
            <h1>Test MM</h1>
            <p>Nothing at all</p>
            <span>Read more...</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="tag-container">
        <h4>Popular Tags</h4>
          <a class="tag tag-default tag-pill" href="">First</a>
          <a class="tag tag-default tag-pill" href=""> Second</a>
          <a class="tag tag-default tag-pill" href="">Fourth</a>
          <a class="tag tag-default tag-pill" href=""> Third</a>
          <a class="tag tag-default tag-pill" href="">Ellevent</a>
          <a class="tag tag-default tag-pill" href=""> Movie</a>
          <a class="tag tag-default tag-pill" href="">Balrog</a>
          <a class="tag tag-default tag-pill" href=""> Dragon</a>
      </div>
    </div>
  </div>
</div>