$base-input-padding:10px;

$base-input-vertical-padding:1rem/2;
$base-input-horizontal-padding:1rem/1.3333;
$base-input-line-height:1.25;
$input-border:1px solid rgba(0, 0, 0, 0.15);
$input-border-radius:.25rem;
$input-font-color:color('dark-grey');
$input-font-size:1rem;
$form-bottom-margin:1rem;



.form-container{
  width:40%;
  margin:0 auto;
}
form{
  display:block;
}
.form-control{
  padding:$base-input-vertical-padding $base-input-horizontal-padding;
  display: block;
  width:100%;
  font-size:$input-font-size;
  line-height:$base-input-line-height;
  color:$input-font-size;
  border-radius:$input-border-radius;
  border:$input-border;
  &:focus{
    outline:1px solid color('blue')
  }
}

.form-control-lg{
  padding:0.75rem 1.5rem;
  font-size:1.25rem;
  border-radius:0.3rem;
}
.form-group{
  margin-bottom:$form-bottom-margin;
}

fieldset{
  min-width:0;
  padding:0;
  margin:0;
  border:0;
}

input{
  margin:0;
}