

@mixin display-flex{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
}

.text-center{
    text-align: center;
}
.text-slim{
    font-weight:300;
}
.text-alternate{
    color:color('blue');
}

.center{
    margin:0 auto;
}